TheVoid.Client/Service References/Service/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9066/TheVoid?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9066/TheVoid?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9066/TheVoid?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:9066/TheVoid?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/TheVoid.CI" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_ListEngines_InputMessage">
    <wsdl:part name="parameters" element="tns:ListEngines" />
  </wsdl:message>
  <wsdl:message name="IService_ListEngines_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListEnginesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Execute_InputMessage">
    <wsdl:part name="parameters" element="tns:Execute" />
  </wsdl:message>
  <wsdl:message name="IService_Execute_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Evaluate_InputMessage">
    <wsdl:part name="parameters" element="tns:Evaluate" />
  </wsdl:message>
  <wsdl:message name="IService_Evaluate_OutputMessage">
    <wsdl:part name="parameters" element="tns:EvaluateResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CreateEngines_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateEngines" />
  </wsdl:message>
  <wsdl:message name="IService_CreateEngines_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateEnginesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ListMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:ListMessages" />
  </wsdl:message>
  <wsdl:message name="IService_ListMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_APCPages_InputMessage">
    <wsdl:part name="parameters" element="tns:APCPages" />
  </wsdl:message>
  <wsdl:message name="IService_APCPages_OutputMessage">
    <wsdl:part name="parameters" element="tns:APCPagesResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="ListEngines">
      <wsdl:input wsam:Action="http://tempuri.org/IService/ListEngines" message="tns:IService_ListEngines_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IService/ListEnginesResponse" message="tns:IService_ListEngines_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Execute">
      <wsdl:input wsam:Action="http://tempuri.org/IService/Execute" message="tns:IService_Execute_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IService/ExecuteResponse" message="tns:IService_Execute_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Evaluate">
      <wsdl:input wsam:Action="http://tempuri.org/IService/Evaluate" message="tns:IService_Evaluate_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IService/EvaluateResponse" message="tns:IService_Evaluate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateEngines">
      <wsdl:input wsam:Action="http://tempuri.org/IService/CreateEngines" message="tns:IService_CreateEngines_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IService/CreateEnginesResponse" message="tns:IService_CreateEngines_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListMessages">
      <wsdl:input wsam:Action="http://tempuri.org/IService/ListMessages" message="tns:IService_ListMessages_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IService/ListMessagesResponse" message="tns:IService_ListMessages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="APCPages">
      <wsdl:input wsam:Action="http://tempuri.org/IService/APCPages" message="tns:IService_APCPages_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IService/APCPagesResponse" message="tns:IService_APCPages_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListEngines">
      <soap:operation soapAction="http://tempuri.org/IService/ListEngines" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Execute">
      <soap:operation soapAction="http://tempuri.org/IService/Execute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Evaluate">
      <soap:operation soapAction="http://tempuri.org/IService/Evaluate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateEngines">
      <soap:operation soapAction="http://tempuri.org/IService/CreateEngines" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListMessages">
      <soap:operation soapAction="http://tempuri.org/IService/ListMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="APCPages">
      <soap:operation soapAction="http://tempuri.org/IService/APCPages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:9066/TheVoid" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>